<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dikouba.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
				<key>dateExpires</key>
				<string>28/05/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658415BC7F2E1BDEEACD931DEC8CD47F64CD9783</string>
						<key>dateExpires</key>
						<string>28/05/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YJ9SAA92YT</string>
						<key>name</key>
						<string>Faustin Thales DJIADEU NOUNJIO</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YJ9SAA92YT.com.dikouba</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YJ9SAA92YT</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>892482a7-241d-4205-8ff3-361a1d6e5d08</string>
				<key>dateExpires</key>
				<string>27/07/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YJ9SAA92YT</string>
				<key>name</key>
				<string>Faustin Thales DJIADEU NOUNJIO</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
